<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slacker News</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <center>

      <div class="navigation-container">
        <ul class="nav">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="#">Y</a>
                </td>
                <td>
                  <a href="#">Slacker News</a>
                </td>
                <td>
                  <a href="#">new</a>
                </td>
                <td>
                  <a href="#">comments</a>
                </td>
                <td>
                  <a href="#">ask</a>
                </td>
                <td>
                  <a href="#">jobs</a>
                </td>
                <td>
                  <a href="#">submit</a>
                </td>
              </tr>
            <tbody>
          </table>
        </div>

    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= article[:article_title] %>
        </li>
        <li>
          <a href="<%= article[:article_link] %>">
            <%= article[:article_link] %>
          </a>
        </li>
        <li>
          <%= article[:article_description] %>
        </li>
        <li>
        </li>
      <% end %>
    </ul>

    <h3>Submit a new article:</h3>
    <form action="/articles" method="post">
      <fieldset>
        <li>
          <label for="article_title">Title:</label>
          <input type="text" id="article_title" name="article_title" />
        </li>
        <li>
          <label for="url">Url:</label>
          <input type="text" id="article_link" name="article_link" />
        </li>
        <li>
          <label for="article_description">Description:</label>
          <input type="text" id="article_description" name="article_description" />
        </li>
      </fieldset>
      <input type="submit" />
    </form>

    </center>
  </body>
</html>

